body {
    margin: 0;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: monospace;
    color: #00ff88;
}

.terminal {
    width: 80%;
    height: 60%;
    background: black;
    padding: 20px;
    font-size: 18px;
    white-space: pre-wrap;
    overflow: hidden;
    border: 2px solid #00ff88;
    box-shadow: 0 0 20px #00ff88;
}

.login-card {
    position: absolute;
    width: 320px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border-radius: 12px;
    text-align: center;
    opacity: 0;
    transform: scale(0.7);
    transition: 0.6s ease;
    box-shadow: 0 0 20px rgba(0, 255, 136, 0.4);
}

.login-card input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    border: none;
    background: #00ff88;
    color: black;
    border-radius: 6px;
    cursor: pointer;
}

.show {
    opacity: 1;
    transform: scale(1);
}

.hidden {
    display: none;
}
